.main-container {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.products-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow: initial;
}
